%menu{ :id => "sidebar", :class => "ui wide vertical styled sidebar borderless menu" }
  %div{ :class => "item", :id => "masthead" }
    %a{ :class => 'ui header', :href => "/" }
      <i class="circular book icon"></i>
      %div{ :class => "content" }
        = $site_title
        %div{ :class => "sub header" }
          = $site_tagline
    %div{ :class => "ui fluid three item small text menu" }
      %a{ :class => "item", :href => "/" } Home
      %a{ :class => "item", :href => "/" } About
      %a{ :class => "item disabled" } Random
  %hr{ :class => "ui divider" }
  %div{ :class => "search ui fluid icon input" }
    %input{ :type => "text", :placeholder => "Search Aristotl..." }
    <i class="search icon"></i>
  %hr{ :class => "ui divider" }
  %h2{ :class => "ui header item" }
    = $entry_title
    %div{ :class => "sub header" }
      = $outlink
  %a{ :class => "item", :href => "#" } Go to top.
  %div{ :class => "ui menu basic accordion"}
    %div{ :id => "toc", :class => "horizontally fitted item" }
      %div{ :class => "header title" } <i class="dropdown icon"></i> Table of Contents
%nav{ :id => "nav", :class => "ui secondary menu fixed" }
  %a{ :class => "item launch" } <i class="icon list layout"></i> Menu
  %div{ :class => "menu right" }
    %a{ :class => "item", :href => "https://github.com/bsima/aristotl" } <i class="icon github"></i>
#container
  -#%header{ :class => "masthead segment" }
    %div{ :class => "container" }
      %div{ :class => "introduction" }
        %h1{ :class => "ui dividing header" }= $entry_title
        %p= $entry_intro
        %div{ :class => "ui basic labeled icon toggle overview button" }= $entry_pub
  #main{ :role => "main", :class => "main container" }
    %article{ :class => "ui column" }= $entry_content
  %footer
